* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  background-color: #000;
  padding: 1.4rem;
  min-height: 88px;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

header nav div {
  display: flex;
  align-items: center;
}

header nav .left {
  align-items: center;
}

header nav .left a:last-child {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 1rem;
  padding: 0.2rem 1rem;
  border-left: 2px solid #fff;
}

header nav svg {
  width: 125px;
}

header nav .actions button {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-family: inherit;
  transition: 0.4s ease;
  cursor: pointer;
  font-size: 1.3rem;
}

header nav .actions button:first-child {
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
}

header nav .actions button:last-child {
  margin-left: 1rem;
  border: none;
  background-color: #4c5fd5;
  border: 1px solid #4c5fd5;
  color: #fff;
}

header nav .actions button:last-child:hover {
  background-color: #fff;
  color: #000;
}
.actions-b {
  display: none;
}

.actions-b i {
  color: #fff;
  padding: 1rem 1rem 0 0;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 932px) {
  .actions-b {
    display: block;
  }

  .actions {
    /* display: none; */
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    background-color: rgb(51, 51, 51);
    flex-direction: column;
    z-index: 50;
  }

  .actions.show {
    top: 88px;
  }

  .actions button {
    border: none !important;
    outline: none !important;
    color: #fff;
    background: transparent !important;
    padding: 2rem !important;
    transition: 0.4s ease !important;
  }

  .actions button:hover {
    color: #000 !important  ;
  }
}

@media (max-width: 768px) {
  header nav {
    width: 90%;
  }
}

@media (max-width: 600px) {
  header nav {
    width: 100%;
  }
}

/* HERO SECTION STYLING */
#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1.7rem 7rem;
  background-color: #dadbf1;
}

#hero-section h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  #hero-section h1 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  #hero-section h1 {
    font-size: 2.5rem;
  }
}

#hero-section form {
  width: 90%;
  max-width: 720px;
}

#hero-section form .form-group {
  display: flex;
  align-items: center;
  position: relative;
}

#hero-section form input {
  padding: 1rem;
  width: 100%;
  font-family: inherit;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  font-weight: 500;
}

#hero-section form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  right: 1rem;
  font-size: 1.8rem;
  color: #4c5fd5;
}

/* CATEGORY SECTION STYLING */
#categories-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-container {
  width: 80%;
  max-width: 1000px;
  margin: 8rem 0rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.category-card {
  min-width: 300px;
  flex: 1 1 45%;
  display: flex;
  margin-bottom: 3rem;
}

.category-card .category-icon {
  max-width: 90px;
}

.category-icon img {
  width: 100%;
  height: auto;
}

.category-card .info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.info h2 {
  font-size: 1.6rem;
  font-weight: 900;
}

.info p {
  font-size: 1.5rem;
}

.info a {
  display: inline-block;
  color: #4c5fd5;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
}

.info a:hover {
  /* text-decoration: underline; */
  border-bottom: 2px solid #4c5fd5;
}

.info a i {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: -6px;
}

/* FOOTER STYLING */
footer {
  background-color: #000;
  padding: 2rem 2rem 5rem 2rem;
}

footer .column-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.column-container .footer-column {
  flex-basis: 15%;
}

.footer-column h3 {
  font-size: 1.5rem;
  line-height: 1.57rem;
  font-weight: bold;
  color: #fff;
  padding: 1rem 0;
}

.footer-column ul {
  margin-bottom: 2rem;
}

.footer-column ul a {
  text-decoration: none;
  color: #fff;
  padding: 0.3rem 0;
  display: inline-block;
}

.footer-column-copyright {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.footer-column-copyright svg {
  max-width: 138px;
  margin-bottom: 1rem;
}

.footer-column-copyright p {
  color: #fff;
  padding: 0.3rem 0;
}

@media (max-width: 1100px) {
  .column-container .footer-column {
    flex-basis: 50%;
  }

  .footer-column-copyright {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  .column-container {
    flex-direction: column;
  }

  .footer-column-copyright {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
